.banner-layout {
    display: flex;
    height: 100vh;
}
.forms {
    flex: 1;
    display: grid;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .forms{
        padding: 0;
        margin: 15px;
        width: min-content;
        height: min-content;
    }
}