.Card{
    border-radius: 5%;
    min-height: 650px;
    min-width: 400px;
    border: 2px solid darkgray;
}

.Card:hover{
    box-shadow: 3px 3px 3px 2px gray;
}

header{
    display: flex;
}

#login_text{
    margin-top: 30px;
    margin-left: 30px;
}

#slogan_text{
    font-size: 10px;
    margin-top: 15px;
    margin-left: 5px;
}

#red-corner{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 12vh;
    background: rgb(243, 60, 62);
    border-bottom-left-radius: 35px;
}

.loginForm{
    margin-top: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
}

#email{
    margin-bottom: 25px;
    border-radius: 5px;
}

#password{
    margin-bottom: 20px;
    border-radius: 5px;
}

input:hover{
    box-shadow: 2px 2px 5px 1px rgb(122, 122, 122);
    border-color: rgb(243, 60, 62);
    transition: border-color 0.5s ease-in;
}

input:focus{
    border: 3px solid #555;
    outline-width: 0;
}

#error_Msg{
    font-weight: 600;
    font-size: 12px;
    color: red;
}

#button{
    background-color: rgb(45,45,45);
    color: white;
    border-radius: 10px;
    font-weight: 500;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
#button:hover {
    height: 120%;
    border-color: blue;
    transition: border-color 0.5s ease-in;
    box-shadow: 2px 2px 5px 1px rgb(122, 122, 122);
}


#signupPage, #forgotPassPage{
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 11px;
}

#signupLink, #forgotLink{
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#signupLink:hover, #forgotLink:hover{
    color: red;
    transition: 0.3s ease;
    font-size: larger;
}
