.Card{
    border-radius: 10px;
    min-height: 650px;
    min-width: 400px;
    background-color: rgb(248, 248, 248);
    box-shadow: 2px 2px 4px 2px rgb(65, 64, 64);
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
}

#addVehicle_text{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 30px;
}

#slogan_text{
    font-size: 11px;
    margin-top: 20px;
    margin-left: 5px;
}


#red-corner{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 10vh;
    background: rgb(243, 60, 62);
    border-bottom-left-radius: 35px;
}

.addVehicle_Form{
    margin-top: 3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#vrn_input{
    background-color: rgb(255, 200, 70);
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

#vrn_input:hover{
    box-shadow: 2px 2px 5px 1px rgb(122, 122, 122);
    border-color: rgb(0, 0, 0);
    transition: border-color 0.5s ease-in;
}

#vrn_input:focus{
    border: 3px solid #555;
    outline-width: 0;
}

#error_Msg{
    font-size: 12px;
    color: red;
}

#vehicleDetail{
    font-size: 14px;
    margin: 15px;
    line-height: 2.5;
}

select{
    width: 100%; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    background-color: white; 
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px; 
    transition: border-color 0.3s;
}

select:hover{
    border-color: #555;
}
.select-space-between{
    margin-bottom: 7px;
}


option{
    padding:8px;
    background-color: white; /* White background for options */
    color: #333; /* Dark text color for readability */
}

#button{
    background-color: rgb(45,45,45);
    color: white;
    border-radius: 10px;
    font-weight: 500;
    padding: 3px 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#button:hover {
    height: 120%;
    border-color: blue;
    transition: border-color 0.5s ease-in;
    box-shadow: 2px 2px 5px 1px rgb(122, 122, 122);
}


img{
    max-width: 100px;
    display: block;
    margin: 0 auto;
}


#findVehicle, #findlink{
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#findlink:hover{
    color: red;
    transition: 0.3s ease;
    font-size: larger;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .Card {
        max-width: 90%;
    }
    #addVehicle_text {
        font-size: 24px;
    }
    #slogan_text {
        font-size: 10px;
    }
}
