.toolbar {
    position: fixed;
    transition: width 100ms ease;
    background-color: white;
}

.logo{
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    color: red;
}

.logo svg{
    transform:scale(1,1);
    transition: transform 200ms ease;
}

.toolbar:hover .logo svg{
    margin-left: 0;
    margin-right: 0;
    transform:scale(-1,1);
}

.toolbar-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.toolbar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.toolbar-item:nth-last-child(2){
    margin-top: auto;
    margin-bottom: 15px;
}


.toolbar-item:last-child{
    margin-top: auto;
    margin-bottom: 30px;
}

.item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: filter 200ms ease;
    gap: 10px;
}

.user-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: black;
    text-decoration: none;
    gap: 10px;
}

.item-link:hover{
    filter: grayscale(0%) opacity(1);
    color: red;
}


.link-text{
    display: none;
}

.user-link-text{
    display: none;
}

.item-link svg{
    width: 35px;
    margin: 0 15px;
}

@media only screen and (max-width: 600px) {
    .toolbar{
        bottom: 0;
        width: 100vw;
        height: 80px;
        z-index: 5;
    }

    .logo{
        display: none;
    }

    .toolbar-ul{
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: flex-end;
        flex-direction: row;
    }
}

@media only screen and (min-width: 600px) {
    .toolbar{
        width: 100px;
        height: 100vh;
        top:0
    }

    .toolbar:hover{
        margin-right: 5px;
        width: 180px;
        border-right: 2px solid lightgray;
    }
    
    .toolbar:hover .link-text, .toolbar:hover .user-link-text{
        display: inline-block;
    }

    .user-link-text{
        font-weight: bold;
    }

    .item-link, .user-item-link{
        justify-content: center;
    }
    
    
}